
@{
    ViewBag.Title = "Home";
}

<h1>MVC Entity Assignment</h1>

<p>Welcome to the Insurance Quote Application.</p>

<hr />

<h3>Navigation</h3>

<ul>
    <li>
        @Html.ActionLink("Create Insurance Quote", "Create", "Insuree")
    </li>
    <li>
        @Html.ActionLink("View Admin Quotes", "Admin", "Insuree")
    </li>
</ul>
